
.mayor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.Isko{
    height:400px;
    width: 33%;

}
.IM{
    height:400px;
    width: 33%;

}
.MI{
    height:400px;
    width: 33%;

}
.Moreno{
    height:400px;
    width: 100%;

}

